.listText {
  line-height: 24px;
}

.contentBlock {
  color: #4b5563;
  color: var(--text);
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 0 24px;
}
